@model Curso_ASP_MVC_EF.Models.Sala

@{
    ViewBag.Title = "Cadastro de Sala";
}

<h3>Cadastrar Sala</h3>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h5 style="color:forestgreen;">Sala</h5>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2", Style = "text-align: left"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QtdAlunos, "Quantidade de alunos", htmlAttributes: new { @class = "control-label col-md-2", Style = "text-align: left" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QtdAlunos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QtdAlunos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QtdDisciplinas, "Quantidade de disciplinas", htmlAttributes: new { @class = "control-label col-md-2", Style = "text-align: left" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QtdDisciplinas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QtdDisciplinas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdPredio, "Predio", htmlAttributes: new { @class = "control-label col-md-2", Style = "text-align: left" })
            <div class="col-md-10">
                @Html.DropDownList("IdPredio", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdPredio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
