@model IEnumerable<DisciplinasFaculdade.Models.Curso>

@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div class="jumbotron">

        <h2>Cursos</h2>

        <p>
            @Html.ActionLink("Adicionar novo", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td align="right">
                        <i class="glyphicon glyphicon-pencil" ></i>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        <i class="glyphicon glyphicon-search"></i>
                        @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                        <i class="glyphicon glyphicon-remove"></i>
                        @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>

    </div>

</div>
