@model IEnumerable<DisciplinasFaculdade.Models.ProfessorCurso>

@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div class="jumbotron">

        <h2>Professor Curso</h2>

        <p>
            @Html.ActionLink("Adicionar novo", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Curso.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Professor.Nome)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Curso.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Professor.Nome)
                    </td>
                    <td align="right">
                        <i class="glyphicon glyphicon-pencil" ></i>
                        @Html.ActionLink("Editar", "Edit", new { id = item.IdProfessorCurso }) |
                        <i class="glyphicon glyphicon-search"></i>
                        @Html.ActionLink("Detalhes", "Details", new { id = item.IdProfessorCurso }) |
                        <i class="glyphicon glyphicon-remove"></i>
                        @Html.ActionLink("Deletar", "Delete", new { id = item.IdProfessorCurso })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>