@model DisciplinasFaculdade.Models.Disciplina

@{
    ViewBag.Title = "Deletar Disciplina";
}

<h3>Deletar Disciplina</h3>

<h3>Tem certeza que deseja deletar esta disciplina?</h3>
<div>
    <h5 style="color:red;">
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </h5>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align:left;">
            @Html.DisplayNameFor(model => model.Curso.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Nome)
        </dd>

        <dt style="text-align:left;">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt style="text-align:left;">
            @Html.DisplayNameFor(model => model.QtdAlunos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdAlunos)
        </dd>

        <dt style="text-align:left;">
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

        <dt style="text-align:left;">
            @Html.DisplayNameFor(model => model.DiaDaSemana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaDaSemana)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
