@model DisciplinasFaculdade.Models.Disciplina

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Disciplina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProfessorCurso.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfessorCurso.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sala.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sala.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semestre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semestre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdAlunos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdAlunos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaDaSemana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaDaSemana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisciplinaParcial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisciplinaParcial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndisponibilizarSala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndisponibilizarSala)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
