@model IEnumerable<DisciplinasFaculdade.Models.Disciplina>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProfessorCurso.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sala.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Turno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semestre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdAlunos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaDaSemana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisciplinaParcial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndisponibilizarSala)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProfessorCurso.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sala.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Turno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semestre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdAlunos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaDaSemana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisciplinaParcial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndisponibilizarSala)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
