@model DisciplinasFaculdade.Models.Usuario

@{
    ViewBag.Title = "Detalhes do Usuário";
}

<h3>Detalhes do Usuário</h3>

<div>
    <h5 style="color:dodgerblue;">
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </h5>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
</p>
